@import "tailwindcss";

body {
	top: 0 !important;
}

iframe.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body.skiptranslate,
.skiptranslate {
	top: 0 !important;
}

.goog-tooltip,
.goog-tooltip:hover,
.goog-text-highlight {
	display: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}